.stApp{
    background : linear-gradient(
        135deg,
        #e8f657 0%,
        #ffffff 50%,
        #ee5eee 100%
    );

    min-height: 100vh;
    font-family: 'Segoe UI', sans-serif;
}


.card {
    background-color:#ffffff;
    padding: 25px;
    border-radius: 30px;
    box-shadow: 0 8px 20px rgba(0, 0, 0, 0.8);
    margin-bottom: 25px;

}


h1,h2,h3{
    color: #7deab3;
    font-weight: bold;
}

div[data-testid = "metric-container"]{
    background-color: #f8fafc;
    border-radius: 16px;
    padding: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.5);
}



.prediction-box{
    background: linear-gradient(
        135deg,
        #ffffff
    );

    padding : 20px;
    border-radius : 15px;
    text-align:center;
    font-size: 24px;
    color: black;
    font-weight: bold;
    margin-top : 20px;

}